body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #242323;
}
header, footer {
    background-color: #7a0808;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
#content {
    padding: 20px;
    margin: 20px;
}
.title {
    color: #a73204;
}
ul {
    padding-left: 20px;
    list-style-type: none;
}
ul.social-links a:hover {
    text-decoration: underline;
}
.nav-links ul li a {
    text-decoration: none;
    color: #2a7fda;
}
#formulario {
    padding: 20px;
    margin: 10px auto;
    background-color: #e4dedefd;
    border-radius: 3cap;
    text-align: center;
    font-size: 20px;
    line-height: 2.1;
    max-width: fit-content;
}
.story-img-container {
    float: right; 
    text-align: right;
    border-collapse: collapse; 
}
.story-img {
    max-width: 100%; /* Garante que a imagem não exceda o container */
    height: auto; /* Manter a proporção da imagem */
    margin: 20px auto; 
    border-radius: 10pc;
}